body {
    background-color: #111;
}
.button {
    font-size: 80px;
    color: #fff;
    background-color: #222;
    border: 8px solid #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 12px;
    margin: 20px;
}
.buttonA {
    font-size: 80px;
    color: #fff;
    background-color: #222;
    border: 8px solid #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 12px;
    margin: 20px;
}
.buttonB {
    font-size: 80px;
    color: #fff;
    background-color: #222;
    border: 8px solid #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 12px;
    margin: 20px;
}

.buttons {
    position: absolute;
    left: 80px;
    top: 1400px;
}
.buttonsA {
    position: absolute;
    left: 80px;
    top: 2140px;
}
.imageAA {
    width: 664px;
    height: 660px;
    position: absolute;
    top: 680px;
    left: 100px;
    border: 8px solid #fff;
    border-radius: 12px;
}
.imageBB {
    width: 668px;
    height: 660px;
    position: absolute;
    top: 680px;
    left: 832px;
    border: 8px solid #fff;
    border-radius: 12px;
}
.imageCC {
    width: 660px;
    height: 660px;
    position: absolute;
    top: 1620px;
    left: 100px;
    border: 8px solid #fff;
    border-radius: 12px;
}
header {
    background-color: #020813; 
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: #aaaa55;
    padding-top: 40px;
    text-align: center;
    border-radius: 100px;
}
.e {
    color: #fff;
}
